* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "amazon-font", sans-serif;
  color: white;
}

@font-face {
  font-family: "amazon-font";
  src: url("./assets/AmazonUIFont-amazonember_rg-cc7ebaa05a2cd3b02c0929ac0475a44ab30b7efa._V2_.woff2");
}

nav {
  background: #131921;
  width: 100%;
  height: 4.2rem;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
}

.icon-container {
  padding: 7px;
  border-radius: 4px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.icon-text {
  font-size: 1rem;
  padding-bottom: 5px;
}

.icon-container:hover {
  border: 1px solid white;
  cursor: pointer;
}

.icon-container img {
  width: 6.5rem;
  height: fit-content;
}

.address-container {
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 7px;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.address-container:hover {
  border: 1px solid white;
}
.location-icon-container {
  font-size: 1.2rem;
}

.address-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.address-text :first-child {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

.address-text :last-child {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

.input-container {
  width: 35rem;
  border-radius: 4px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container input {
  border: none;
  width: 80%;
  cursor: pointer;
  border-radius: 5px;
  padding: 11px;
}

.input-container input:focus {
  outline: none;
  box-shadow: 0 -4px 15px rgba(255, 165, 0, 0.7),
    0 4px 15px rgba(255, 165, 0, 0.7);
}

.input-container input::placeholder {
  font-size: 0.9rem;
  font-weight: 540;
}

.input-container button {
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #f3a847;
  padding: 11px;
}

.flag-container {
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.flag-container:hover {
  border: 1px solid white;
}

.flag-icon-container img {
  width: 1.5rem;
  height: fit-content;
}

.flag-text-container {
  padding-bottom: 2px;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-down img {
  padding-top: 12px;
  width: 1.4rem;
}

.user-greetings {
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-greetings .text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.user-greetings .text-container :first-child {
  font-size: 0.8rem;
}

.user-greetings:hover {
  border: 1px solid white;
}

.returns {
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.returns:hover {
  border: 1px solid white;
}

.returns .text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.returns .text-container :first-child {
  font-size: 0.8rem;
}

.carts {
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 10px;
}

.carts:hover {
  border: 1px solid white;
}

.carts .cart-icon-container i {
  font-size: 1.2rem;
}

.carts .cart-icon-container span {
  color: #f3a847;
}
.cart-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.carts .text-container {
  /* padding-top: 1.5rem; */
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* bottom-bav */

.bottom-nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  background: #232f3e;
  height: 3rem;
  color: white;
  padding: 1rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
  gap: 0.4rem;
  cursor: pointer;
  padding: 7px;
  border-radius: 4px;
}

.menu:hover {
  border: 1px solid white;
}

.menu-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon-container i {
  font-size: 1.2rem;
  font-weight: 900;
}

.menu-text {
  font-size: 0.9rem;
  font-weight: 500;
}

.list-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-container li {
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid transparent;
  list-style: none;
  padding: 5px;
}

.list-container li:hover {
  border: 1px solid white;
}

.list-container li a {
  text-decoration: none;
  color: white;
}

main {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 100%;
  width: 100%;
  background: url("./assets/main_background_image_1.jpg") no-repeat center
    center/cover;
}

.btn {
  z-index: 9;
  border: 2px solid transparent;
  position: absolute;
  top: 30%;
  height: 5rem;
  width: 5rem;
  border: none;
  cursor: pointer;
}

.btn:active {
  border: 2px solid black;
}

.btn-left {
  left: 0;
  background: url("./assets/left-arrow.svg") no-repeat center center/cover;
}

.btn-right {
  right: 0;
  background: url("./assets/right-arrow.svg") no-repeat center center/cover;
}

.card-container {
  position: absolute;
  top: 60%;
  display: flex;
  justify-content: start;
  gap: 2rem;
  align-items: center;
  height: 400px;
  width: 95%;
}

.card {
  width: 25%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0.5rem;
  align-items: center;
}

.card .heading-text {
  color: black;
  font-size: 1rem;
  font-weight: 600;
}

.card .bento-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.row1,
.row2 {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bento img {
  height: 5rem;
  object-fit: cover;
}

.bento {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.back-to-top {
  height: 3.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  background: #37475a;
}

.footer-container {
  background: #232f3e;
  width: 100%;
  height: 45vh;
}

.section1 {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: start;
}

.section1 .row1,
.section1 .row2,
.section1 .row3,
.section1 .row4 {
  width: 25%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
  gap: ;
  align-items: start;
}
